<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Facturas</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Factura</li>
                    <li class="breadcrumb-item active">Form</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content animated fadeIn fast">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <form [formGroup]="_form" (ngSubmit)="submitForm()">
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-sm-3">
                                        <label>Operacion</label>
                                        <ng-select placeholder="Selecciona..." [items]="operacionSelect"
                                            bindLabel="text" bindValue="value" [clearable]="true"
                                            [ngClass]="{ 'is-invalid': formSubmitted && _form.controls.id_operacion.errors }"
                                            formControlName="id_operacion" (change)="operacionSelected($event)" />
                                        <div *ngIf="_form.controls.id_operacion.errors" class="invalid-feedback">Campo
                                            requerido</div>
                                    </div>
                                    <div class="col-sm-1">
                                        <label style="color: transparent;">-</label>
                                        <button type="button" *ngIf="isOpSelected" class="form-control btn btn-primary"
                                            (click)="addFactura()">
                                            <i class="fa fa-plus mr-2"></i>Agregar
                                        </button>
                                    </div>
                                </div>
                                <ng-container formArrayName="facturas">
                                    <ng-container *ngFor="let factura of facturas.controls; let i = index">
                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                <div class="border rounded p-4 bg-light">
                                                    <div class="row justify-content-between align-items-center">
                                                        <div class="col-sm-9">
                                                            <h4>Nueva Factura</h4>
                                                        </div>
                                                        <div class="text-end">
                                                            <button class="btn btn-danger" (click)="deleteFactura(i)">
                                                                <i class="fa fa-minus"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="row form-group mb-5 justify-content-center">
                                                        <div class="col-sm-3">

                                                            <div class="row form-group">
                                                                <div class="col-sm-6">
                                                                    <label style="color: transparent;">-</label>
                                                                    <input type="file" multiple="false" accept=".xml"
                                                                        id="import-file-xml" hidden #importFileXmlInput
                                                                        (change)="importFile($event, i)">
                                                                    <button type="button"
                                                                        class="btn btn-warning btn-block"
                                                                        (click)="importFileXmlInput.click()">
                                                                        <i class="fa fa-file mr-2"></i>Cargar XML
                                                                    </button>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label style="color: transparent;">-</label>
                                                                    <input type="file" multiple="false" accept=".pdf"
                                                                        id="import-file-pdf" hidden #importFilePdfInput
                                                                        (change)="importFile($event, i)">
                                                                    <button type="button"
                                                                        class="btn btn-warning btn-block"
                                                                        (click)="importFilePdfInput.click()">
                                                                        <i class="fa fa-file mr-2"></i>Cargar PDF
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label>Archivos Adjuntos</label>
                                                            <ul *ngIf="facturas.at(i).value.archivo_xml == null && facturas.at(i).value.archivo_pdf == null"
                                                                class="list-group">
                                                                <li class="list-group-item text-center">
                                                                    <h3>Sin Datos</h3>
                                                                </li>
                                                            </ul>
                                                            <div class="list-group">
                                                                <div *ngIf="facturas.at(i).value.archivo_xml != null"
                                                                    class="list-group-item flex-column align-items-start">
                                                                    <div class="d-flex w-100 justify-content-between">
                                                                        <div class="d-flex justify-content-between"
                                                                            style="cursor: pointer; width: 95%;"
                                                                            (click)="openFile(facturas.at(i).value.archivo_xml.url)">
                                                                            <a>
                                                                                <img class="mr-2"
                                                                                    [src]="getIconFile(facturas.at(i).value.archivo_xml.name)"
                                                                                    width="30px" height="30px"
                                                                                    alt="file-list"
                                                                                    onerror="this.src='./assets/image/no-photo.svg'">{{facturas.at(i).value.archivo_xml.name}}</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="facturas.at(i).value.archivo_pdf != null"
                                                                    class="list-group-item flex-column align-items-start">
                                                                    <div class="d-flex w-100 justify-content-between">
                                                                        <div class="d-flex justify-content-between"
                                                                            style="cursor: pointer; width: 95%;"
                                                                            (click)="openFile(facturas.at(i).value.archivo_pdf.url)">
                                                                            <a>
                                                                                <img class="mr-2"
                                                                                    [src]="getIconFile(facturas.at(i).value.archivo_pdf.name)"
                                                                                    width="30px" height="30px"
                                                                                    alt="file-list"
                                                                                    onerror="this.src='./assets/image/no-photo.svg'">{{facturas.at(i).value.archivo_pdf.name}}</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row form-group">
                                                        <button class="btn btn-success"><i
                                                                class="fa fa-check-square-o mr-2"></i> Validar</button>
                                                    </div>
                                                    <form [formGroup]="factura">
                                                        <div class="row form-group">
                                                            <div class="col-sm-3">
                                                                <label>Estado</label>
                                                                <ng-select placeholder="Selecciona..."
                                                                    [items]="estadoSelect" bindLabel="text"
                                                                    bindValue="value" [clearable]="true"
                                                                    formControlName="id_estado" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <label>Tipo</label>
                                                                <input class="form-control" type="text"
                                                                    placeholder="Ingresa" formControlName="tipo" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <label>Serie</label>
                                                                <input class="form-control" type="text"
                                                                    placeholder="Ingresa" formControlName="serie" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <label>Folio</label>
                                                                <input class="form-control" type="text"
                                                                    placeholder="Ingresa" formControlName="folio" />
                                                            </div>
                                                        </div>

                                                        <div class="row form-group">
                                                            <div class="col-sm-3">
                                                                <label>RFC</label>
                                                                <input class="form-control" type="text"
                                                                    placeholder="Ingresa" formControlName="rfc" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <label>Razón Social</label>
                                                                <input class="form-control" type="text"
                                                                    placeholder="Ingresa"
                                                                    formControlName="razon_social" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <label>Precio</label>
                                                                <input class="form-control" type="text"
                                                                    placeholder="Ingresa" formControlName="precio" />
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <label>Fecha de emisión</label>
                                                                <input class="form-control" type="text" mwlFlatpickr
                                                                    formControlName="fecha_emision"
                                                                    [placeholder]="flatPickerOpt.placeholder"
                                                                    [dateFormat]="flatPickerOpt.dateFormat"
                                                                    [enableTime]="flatPickerOpt.enableTime"
                                                                    [altFormat]="flatPickerOpt.altFormat"
                                                                    [altInput]="flatPickerOpt.altInput"
                                                                    style="background: white;">
                                                            </div>

                                                        </div>

                                                        <div class="row form-group">
                                                            <div class="col-sm-3">
                                                                <label>Fecha de cierre</label>
                                                                <input class="form-control" type="text" mwlFlatpickr
                                                                    formControlName="fecha_cierre"
                                                                    [placeholder]="flatPickerOpt.placeholder"
                                                                    [dateFormat]="flatPickerOpt.dateFormat"
                                                                    [enableTime]="flatPickerOpt.enableTime"
                                                                    [altFormat]="flatPickerOpt.altFormat"
                                                                    [altInput]="flatPickerOpt.altInput"
                                                                    style="background: white;">
                                                            </div>
                                                        </div>
                                                    </form>


                                                </div>
                                            </div>

                                        </div>
                                    </ng-container>
                                </ng-container>

                            </div>
                            <div class="card-footer">
                                <button *ngIf="isOpSelected" type="submit" class="btn btn-primary mr-2"><i
                                        class="fa fa-save mr-2"></i>Guardar</button>
                                <button type="button" class="btn btn-danger"><i
                                        class="fa fa-times mr-2"></i>Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>